<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>proyectos</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button class="close-button" routerLink="/multimedia">
        <ion-icon name="multimedia"></ion-icon>
      </ion-button>
      <ion-button class="close-button" routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">proyectos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin-left: 340px; margin-right: 300px;">
    <table style="margin-top: 20px;">
      <tr>
        <td style="text-align: left;"><b>PROYECTO SI CEA </b></td>
        <td style="text-align: left;"></td>
      </tr>
      <br>
      <tr>
        
        <td style="text-align: left;"> <br>
          La presente investigación se refiere a un problema interno en los centros de aprendizaje
          automovilísticos, dicho problema evidenciado es que en gran parte de estas academias
          realizan un sistema no informático en su proceso de agendamientos y control de clases; el
          cual se evidencio no se encuentra organizado en cuanto a la asignación de clases teóricas,
          taller mecánico, prácticas y exámenes ocasionando demoras en el proceso de certificación
          de los estudiantes, y además, no permite llevar el control y desarrollo de estas a nivel de los
          instructores. <br>
          Dentro de la arquitectura de un software tenemos que resaltar un gran técnico de
          recolección, organización y desarrollo que son los casos de uso, estos nos permiten tener
          una descripción plena de todas aquellas acciones que contiene un sistema desde el punto
          de vista del usuario; gracias al UML “lenguaje de modelo unificado” podemos crear en base
          de diagramas las especificaciones, visualizaciones, construcción y documentación de forma
          organizada de un sistema.<br>
          De acuerdo con lo anterior podemos decir que gracias a estos casos de uso nos dará una
          idea de cómo será el comportamiento desde el punto de vista de cualquier actor y su
          importancia en este proceso ya que al poder documentar todas y cada una de las posibles
          acciones del sistema será hará un trabajo en conjunto mecanizado paso por paso sin tener
          alguna dificultad y tener un resultado óptimo al arrancar el sistema integrado.<br>
        </td>
        
      </tr>

      <br>
      <br>
      <br>
      

    </table>
  </div>
  <div>
    <img src="/assets/logo.png" alt="logo"
            style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); max-width: 1000px;">
  </div>



</ion-content>