#Botones button{
    width: 80px;
    height: 40px;
    background-color: #0f0249;
    color: rgb(244, 248, 248);
    margin-right: 25px;
}
#Botones .custom-button:hover{
    color: red;
    background-color: black;
}