<ion-header>
  <ion-toolbar color="primary" class="toolbar-with-margins">
    <ion-title class="center-title">
      JUAN PABLO RUBIO DIAZ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" routerLink="/login">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button class="close-button" routerLink="/multimedia">
        <ion-icon name="multimedia"></ion-icon>
      </ion-button>
      <ion-button class="close-button" routerLink="/proyectos">
        <ion-icon name="proyectos"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: lightgray;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="block block-1" style="margin-top: 20px;">
          <img src="/assets/juan.JPG" alt="Imagen de encabezado"
            style="border-radius: 20px; box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); max-width: 20%;">
        </div>
      </ion-col>
    </ion-row>
    <br>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: rgba(0, 0, 0, 0.014); font-weight: bold; text-shadow: 1px 1px 1px rgb(255, 255, 255);">Perfil</p>
          </ion-toolbar>
          <div class="block-content">
            <br>
            <p style="text-align: justify; margin-left: 100px; margin-right: 100px;">
              Tecnólogo en gastronomía y actualmente estudiante de tecnología en
              análisis y desarrollo de software <br>
              Conocimientos básicos adquiridos en formación de lenguaje de programación Phyton,
              creación de bases de datos en SQL y previamente experiencia en plataforma WMS. <br>
              Experiencia en archivo, planificación y coordinación de eventos y procesos administrativos,
              redacción de informes , servicio al cliente presencial y virtual manejo de plataforma de
              Aulapp. Ágil consulta en bases de datos de información. <br>
              Experiencia mensajería, radicación de documentos, diligencias administrativas, archivo,
              conocimientos en picking y packing, logística, empaque y alistamiento de pedidos,
              conocimientos en bodega. <br>
              Administración de puntos de venta, manejo de personal, manejo de caja y conocimiento y
              verificación de dinero, solicitud y recepción de pedidos, legalización de facturas, realización
              de inventarios, control de calidad, coordinación de personal, atención al cliente, limpieza de
              reas, con habilidad de trabajo en equipo, organización, orientación al cliente y al detalle.
              Conocimientos en paquete de Office y correo electrónico. Habilidades comerciales,
              trabajo en equipo, resolución de conflictos, y capacidad de auto gestión, Manejo de
              , mantenimiento de punto y aseo del mismo, Logística y tareas administrativas,
              manejo de sistema Poesy kardex. <br>
            </p>
          </div>

        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block" style="margin-top: 20px;">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: rgba(0, 0, 0, 0); font-weight: bold; text-shadow: 1px 1px 1px white;">Datos
              Personales</p>
          </ion-toolbar>

          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 600px;">Nombre:</td>
              <td style="text-align: left">
                Juan Pablo Rubio Diaz
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Documento de Identidad:</td>
              <td style="text-align: left">
                1019119239
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Fecha de Nacimiento:</td>
              <td style="text-align: left">
                09 mayo 1996
              </td>
            </tr>
            <br>
            <tr>
              <td style="text-align: left">Lugar de Nacimiento:</td>
              <td style="text-align: left">
                Bogotá Distrito Capital
              </td>
              <br>
            <tr>
              <td style="text-align: left">Dirección:</td>
              <td style="text-align: left">
                calle 149 #117 -42 <br>
                carrera 114b # 151c - 69
              </td>
              <br>
              <br>
              <br>
            <tr>
              <td style="text-align: left">Teléfono:</td>
              <td style="text-align: left">
                3134835709
              </td>
            </tr>
            <tr>
              <td style="text-align: left">Email:</td>
              <td style="text-align: left">
                <span style="text-decoration: underline; color: #7dc1ff;">juanpablorubio0509@gamil.com <br>
                  jprubio93@misena.edu.co</span>
              </td>
              <br>
              <br>
              <br>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: rgba(0, 0, 0, 0); font-weight: bold; text-shadow: 1px 1px 1px white;">Formación
              Académica</p>
          </ion-toolbar>
          <table style="margin-top: 20px;">
            <tr>
              <td style="text-align: left; width: 250px;">Universitarios:</td>
              <td style="text-align: left;">
                 Aprendiztecnología análisis y desarrollo de software <br>
                Centro de formación SENA Fontibón<br>
                2022 actualmente estudiando<br>
                <br>
                Tecnología en gastronomía<br>
                Uniagustiniana<br>
                2018<br>
                <br>
                 Bachiller académico<br>
                Colegio Agustiniano de Suba<br>
                2013<br>
              </td>
            </tr>
            <br>

          </table>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="block">
          <ion-toolbar class="block-toolbar">
            <p style="font-size: 20px; color: rgba(0, 0, 0, 0); font-weight: bold; text-shadow: 1px 1px 1px white;">Experiencia
              Laboral</p>
          </ion-toolbar>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">AUTOCETTT BOGOTA SAS</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Auxiliar administrativo</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Apoyo administrativo en las diferentes áreas de la compañía, programador de clases
                  prácticas y teóricas; asignación de citas correspondientes a certificaciones, servicio al
                  cliente presencial y virtual, manejo de plataforma de aulapp y plataforma del runt.
                  Apoyo en el área de recepción compra de pines y proceso de matrícula de los
                  aprendices, apoyo en el área de logística pagos y recaudos de la compañía. Responder
                  o atender llamadas telefónicas y conversaciones via whatsapp , proporcionar apoyo
                  general a los aprendices , preparación de informes contables y informes de bases de
                  datos de instructores , aprendices y vehículos . <br>

                   Logros :<br>
                  Agilizar el proceso de asignación o programación de clases de estudiantes represados
                  de la academia de meses posteriores a mi contratación, manejo y solución de
                  procesos atrasados de aprendices logrando así continuidad en tiempos asertivos que
                  corresponden a su curso de conducción. Ágil aprendizaje en todos procesos de una
                  academia de conducción.<br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>

          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">COMPENSAR</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Gestor II – Administrador de comedor escolar</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Control de calidad en comedores escolares, verificación de procesos y estándares
                  de calidad de materia prima, supervisión y rectificación de laalimentación brindada
                  controlando anexos y demás directrices que correspondan como menú etario,
                  porcentaje de proteico, cereal, energético, bebidas, control de inventarios, manejo
                  kardex, manejo de personal, elaboración de pre costeos, elaboración y recepción
                  de pedidos legalización de facturas, manejo de plataformas WMS y Excel. <br>

                   Logros :<br>
                  Efectuar procesos administrativos y operativos en tiempos acertadosAgilizando en
                  si resultados adecuados.<br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">ASOES Country Club Pueblo Viejo</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Auxiliar de cocina</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Servicio al cliente, procesamiento de verduras, frutas y bebidas, producción y elaboración
                  de productos de panadería y pastelería,elaboración, cocción y preparación de productos en
                  eventos, coordinación de personal, control de inventarios,solitud y recepción depedidos.<br>

                   Logros :<br>
                  Restructure la organización de equipos y mesones de acuerdo al punto donde me
                  desempeñaba logrando así la obtención de tiemposy movimientos en la calidad de los
                  productos.<br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">Gastroinnova</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Auxiliar de cocina, <br>
                  Líder de cocina</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Elaboración y procesamiento de alimentos, control de inventarios y productos,
                  solicitud y recepción de pedidos, emplatado de productos,rotulado, servicio al
                  cliente, coordinación de personal, conocimiento básico caja. <br>

                   Logros :<br>
                  Implementación de procesos he ideas lo cual dieron resultado en la facilitación
                  de la apertura obteniendo así tiempos favorables y agilización de procesos.
                  Estructurarsoluciones varias a situaciones de cotidianas.<br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">BBI COLOMBIA</p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Líder de punto Cafetería y Restaurante, colaborador de
                  tienda</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Control de calidad en puntos de venta ,Manejo de caja , conteo y verificación de
                  dinero , manejo de equipos Elaboración de horarios, Elaboración,
                  procesamiento de productos, control de inventarios y productos, solicitud y
                  recepción de pedidos, rotulado, servicio al cliente, coordinación de personal, y
                  sistema Poes. <br>

                   Logros :<br>
                  Implementación de procesos he ideas lo cual dieron resultado en la facilitación
                  de la apertura obteniendo así tiempos favorables y agilización de procesos.
                  Ventasincrementadas en poco tiempo.
                  Coordinación de personal y asignación de roles efectuando el correcto cierre
                  del local agilizando procesos.
                  <br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <p style="font-weight: bold;">BUENA MESA <br> Country Club Pueblo Viejo – Corferias – Centro de convenciones
              Gonzalo Jimenez de
              Quesada – Cafam floresta </p>
          </div>
          <div style="margin-left: 340px; margin-right: 300px;">
            <table style="margin-top: 20px;">
              <tr>
                <td style="text-align: left;"><b>Cargo:</b></td>
                <td style="text-align: left;">Auxiliar de cocina, jefe de punto de venta</td>
              </tr>
              <br>
              <tr>
                <td style="text-align: left;"><b>Funciones:</b></td>
                <td style="text-align: left;"> Funciones: <br>
                  Coordinación de personal, elaboración y procesamiento de alimentos, control
                  de inventarios, solicitud y recepción de pedidos, emplatado de productos,
                  empaque, sellado y rotulado de productos, manejo de equipos de cocina,
                  preparación de alimentos de cocina caliente y fría. <br>

                   Logros :<br>
                  Restructure la organización de la cocina y comedor lo cual facilitaron la
                  obtención de tiempos y movimientos. Duplicación de ganancias a corto plazo..<br>
                </td>
              </tr>

              <br>
              <br>
              <br>

            </table>
          </div>


        </div>
      </ion-col>
    </ion-row>
    <br>
    <div id="fotter" class="footer">
      <h1>HOJA DE VIDA . 2023 </h1>
    </div>
  
    
  </ion-grid>
</ion-content>
